<!DOCTYPE html>
<html>
  <head>
    <title>LMUADG - Social Media</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link type=text/css rel="stylesheet" href="../css/index.css"></link>
    <link type=text/css rel="stylesheet" href="../css/social_media.css"></link>
  </head>

  <body>
    <header>
      <div class="navbar-placeholder"></div>
    </header>

    <div class="container twitter-margin">
      <div class="row">
        <div class="col s12 center">
          <a class="twitter-timeline" href="https://twitter.com/lmuadg">Tweets by lmuadg</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-placeholder"></div>
    </footer>
    <script type="text/javascript" src="https://mozilla.github.io/nunjucks/files/nunjucks.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="../bin/index.bundle.js"></script>
  </body>
</html>