main,body {
	background-color: #eeeeee;
}

.history-article-container {
	background-color: #ffffff;
}

.article-img {
	margin: 20px;
	position: relative;
	width: 90%;
}

.article-title {
	text-align: center;
}

.article-content {
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	white-space: pre-wrap;
}