{% extends "../views/history.html" %}

{% block history %}
  {% asyncEach article in historyArticles %}
    <div class="container history-article-container">
      <div class="row">
        <div class="col s12 center">
          <h4 class="article-title">{{ article.title }}</h4>
          <hr/>
          <img class="responsive-img article-img" src="../images/spring2015pinning.jpg">
          <p class="article-content">{{ article.content }}</p>
        </div>
      </div>
    </div>
  {% endeach %}
{% endblock %}